/* UserList.css */

.user-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
/* UserList.css */

.user-list-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: #4394ca;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: #3498db;
  color: #fff;
}

.user-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-login {
  font-weight: bold;
  flex-grow: 1;
  color: #333;
}
