/* UserDetails.css */

:root {
  --background-light: #f8f9fa;
  --background-dark: #343a40;
  --text-light: #495057;
  --text-dark: #ffffff;
}

.user-details-container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Roboto", sans-serif; /* Use Roboto font */
  border: solid 2px;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.user-details-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: #159af3;
}

.user-avatar-details {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-details {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-detail-item {
  font-size: 18px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.github-link {
  color: #159af3;
  text-decoration: none;
  font-weight: bold;
}

.error-message {
  color: #dc3545;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
